{% extends 'quotes/base.html' %}
{% load extract %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        {% for quote in quotes %}
        <div class="quote" itemscope="" itemtype="http://schema.org/CreativeWork">
            <span class="text" itemprop="text">{{quote.quote}}
                <span style="float: right;">
                    {% if user.is_authenticated and quote.user == user %}
                        <form method="post" action="{% url 'quotes:delete_quote' quote.id %}">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit">DELETE</button>
                        </form>
                    {% endif %}
                </span>
            </span>
            <span>by <small class="author" itemprop="author">{{ quote.author.fullname }}</small><a href="{% url 'quotes:author_detail' id=quote.author.id %}" target="_self"> (about)</a></span>
            <div class="tags">
                Tags:
                {% for tag in quote.tags.all %}
                <a class="tag" href="/tag/{{tag}}">{{tag}}</a>
                {% endfor %}
            </div>
        </div>

        {% endfor %}

        <nav>
            <ul class="pager">
                <li class="btn btn-secondary">
                    <a class="{% if not quotes.has_previous %} disabled {% endif %}" href="{% if quotes.has_previous %} {% url 'quotes:root_paginate' quotes.previous_page_number %} {% else %} # {% endif %}"><span aria-hidden="true">←</span> Previous</a>
                </li>
                <li class="btn btn-secondary">
                    <a class="{% if not quotes.has_next %} disabled {% endif %}" href="{% if quotes.has_next %} {% url 'quotes:root_paginate' quotes.next_page_number %} {% else %} # {% endif %}">Next <span aria-hidden="true">→</span></a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="col-md-4 tags-box" style="display: flex; flex-direction: column;">
        {% load extract %}
        <h2>Top Ten tags</h2>
        {% for tag in top_tags %}
        <span class="tag-item"><a class="tag" href="/tag/{{ tag }}">{{ tag }}</a></span>
        {% endfor %}
    </div>


</div>

{% endblock %}